body {
    font-family: Ubuntu, Cambria, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

h1 {
    background-color: #c8afff;
    padding: 16px;
    margin: 0;
    align-self: stretch;
    text-align: center;
}
.hidden {
    display: none;
}